@import '../../scss/common.scss';
 

 .ion_header{
     height:90px;
 
    .English{
       margin-left:150px;
    }
     .Hindi{
      padding-top:30px;
      margin-right:5px;
      margin-left:150px;
      //padding-top:30px;
      margin-bottom:5px;
      
            
   }
 
}

.label1{
   margin-left:70%;
   margin-top:13px;
   padding-bottom:0px;
   display:inline-block;
   font-size: 27px;
   font-family: Arial, Helvetica, sans-serif;
}

.Ion-content{
   background-color:#ffffcc;
   height:100%;
   width:100%;
}

.image-wings{
   height:150px;
   width:95;
   margin-top:30px;
   margin-left:140px;
}

.content_inside_SHOR{
   margin-left:140px;
   padding-top:80px;
   font-size:30px;
   font-style: bold;
   font-weight: 600px;
   color:#424242;
}

.shor_content_div{
   margin-top:10px;
}

.div_sexual_harassement{
   margin-left:10px;
}

.sexual_harassement{
  
   font-size:10px;
   font-weight:600px;
   color:#424242;
}