<div class="row ">
  <div class="col-sm-12 form-header title">
    {{'HEADER.CONTACT_US'  | translate}}
  </div>
</div>
<div class="row ">
  <div class="col-sm-12 col-md-12 col-lg-3"></div>
  <div class="col-sm-9 col-md-9 col-lg-6">
    <div class="text-center contact-text contact-text">
      <p> {{'CONTACT.PRE_TEXT1' | translate}}

      </p>
      <p> {{'CONTACT.PRE_TEXT2' | translate}}
      </p>
    </div>
    <div class="contact">
      <div class="margin-top row ">
        <div class="col-md-6 admin-div text-left">
          <p class="para1">
            <img class="img-margin" src="../../../assets/images/Email.png"> {{'COMMON.EMAIL'  | translate}}</p>
            <p class="para">Contact@shorapp.in</p>
        </div>
        <div class="col-md-6 admin  text-left ">
          <p class="para1">
            <img class="up-logo" src="../../../assets/images/Whatsapp.png"> {{'COMMON.WHATSAPP'  | translate}}</p>
            <p class="para">(+91) 70423 03344<br /></p>
        </div>
      </div>
      <!-- <div class="margin-top1 row">
        <div class="col-md-6 admin-div text-left">
         
        </div>
        <div class="col-md-6 admin text-left ">
          
        </div>
      </div> -->
    </div>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-3  text-right m-bottom">
    <div class="guide-title">{{'CONTACT.HOW_TO_GUIDE' | translate}}</div>
    <div class="guide-pretext">
      ({{'CONTACT.GUIDE_PRETEXT' | translate}})
    </div>
    <div class="guide-link"> <a [routerLink]=""
        (click)="downloadFile('employerReg')">{{'CONTACT.HOW_REGISTER' | translate}}</a> </div>
    <div class="guide-link"> <a [routerLink]="" (click)="downloadFile('iccCons')">{{'CONTACT.HOW_ICC' | translate}}</a>
    </div>
    <div class="guide-link"> <a href="https://www.youtube.com/watch?v=je46vmGz28U"
        target="_blank">{{'CONTACT.HOW_VIDEO' | translate}}</a> </div>
        <br/><br/><br/>
  </div>
  <br/><br/><br/>
</div>
