
  
<div class="container-fluid black footer">
  <div class="row">
    <div class="col-sm-12 foot2">
      {{'COMMON.COPRRIGHT_TEXT' | translate}}
      &nbsp;&nbsp;&nbsp;
       1.0.12
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a  routerLinkActive="active contactlink" [routerLink]="['/privacy-policy']"><u><b>{{'COMMON.PRIVACY_POLICY' | translate}}</b></u>
      </a> 
    </div>
  </div>
</div>


<!--
<div class="black container-fluid">
  <ul class="list m-0 p-0">
    <li class="list-inline-item align-middle">
      <a class="p-1" >Website Policies</a>
    </li>
    <li class="list-inline-item align-middle">
      <a class="p-1">|</a>
    </li>
    <li class="list-inline-item align-middle">
      <a class="p-1" >Help </a>
    </li>
    <li class="list-inline-item align-middle">
      <a class="p-1">|</a>
    </li>
    <li class="list-inline-item align-middle">
      <a class="p-1" >Contact Us</a>
    </li>
    <li class="list-inline-item align-middle">
      <a class="p-1">|</a>
    </li>
    <li class="list-inline-item align-middle">
      <a class="pl-1 " >Feedback</a>
    </li>
  </ul>
 
</div> -->
