<div class="row ">
  <div class="col-sm-12 form-header title">
      {{'COMMON.PRIVACY_POLICY' | translate}}
  </div>
</div>
<div class="col-sm-8 m-auto m-bottom">
  <div class="note">
    <div class="note-toolbar"></div>
    <div class="note-content txt-cntr">
      <strong class="note-title ">S.H.O.R. Privacy Policy</strong>
    </div><br>

      <p class="privacyp1">This Privacy Policy was last modified on 16 October 2019.</p>
      <p><a href="http://www.shorapp.in">www.shorapp.in</a> and the SHOR mobile applications on the Google Play Store and
        the Apple App Store have been developed and are maintained by Interra Information Technologies (India) Private
        Limited, for the District Administration, Gautam Buddh Nagar, U.P., as a social responsibility.</p>
      <p>The District Administration, Gautam Buddh Nagar, and Interra Information Technologies value your privacy and
        recognise the importance of maintaining your privacy. This Policy applies to both the web portal and the mobile
        applications, and describes how we treat the user information collected from either of the sources.</p>
      <p>All information collected from the SHOR application (web portal and mobile applications) are the property of
        the District Administration, Gautam Buddh Nagar.</p>
      <p>The application is specifically designed to collect information about violations of The Sexual Harassment of Women at WorkPlace (Prevention, Prohibition, and Redressal) Act 2013. Consequently, the information collected by the application is willingly provided by the user of the application, and is treated with utmost sensitivity and security.</p>
      <p>Visiting and / or usage of this application (including mobile applications) indicates agreement with this Privacy Policy.</p><br>
      <p><b>The information collected by the application</b></p>
      <p><b>Contact Information:</b> We collect your name, email address, mobile number, place of work with address including city and pincode.</p>
      <p><b>Information you provide:</b> We collect information that you provide with specifics of the incident you are reporting, including other people who may be involved, and the location of the incident.</p>
      <p><b>Other information:</b> If you visit our website, or use the web or mobile applications, we may collect information about your IP address and the browser you are using. We may also collect time you have spent on the website / application, and pages you have accessed. We may also collect information on the type of mobile device you are using, or the version of the operating system your computer or mobile device is running.</p>
      <p>The application is pre-populated with information provided by the District Administration, Gautam Buddh Nagar, Uttar Pradesh.</p><br>
      <p><b>Use of personal information collected</b></p>
      <p>The information collected by you will be used for:</p>
     <ul>
     <li>Forwarding to the appropriate authorities for taking action on the incident you have reported. This included the <b>Internal Complaints Committee, Local Complaints Committee</b>, your <b>Employer, District Administration, Police</b> and the <b>Government of Uttar Pradesh</b> (if warranted).</li>
     <li> Improving the usability and the performance of the website and / or mobile applications.</li>
     <li>Sending you transaction information about your usage, including sending SMS and email notifications.</li><br>
     We use information only as prescribed by law.
    </ul>
    <p><b>Sharing of information with third-parties</b></p>
    <ul>Information collected in this application (web portal and mobile applications) are shared only with Internal Complaints Committee, Local Complaints Committee, your Employer, District Administration and Police (if warranted).</ul>
    <ul>No information is shared with any other third-party.</ul>
    <p><b>Updates to this Policy</b></p>
    <p>From time to time, there may be changes to the privacy practices to the SHOR application. As required by law, we will notify any material changes to this Policy via the <a href="http://www.shorapp.in">www.shorapp.in</a> website</p>
    <p><b>Jurisdiction</b></p>
    <p>Any dispute over privacy is subject to this Policy. Any dispute shall be governed by the laws of India, and more specifically, the High Court of Uttar Pradesh.

      </p>
<br/><br/>
  </div>

</div>