    <ngb-carousel>
        <ng-template ngbSlide *ngFor="let slide of slides">
            <img src="../../../../assets/images/slider/{{slide}}">
        </ng-template>
    </ngb-carousel>


    <!-- <ngb-carousel>
     
    <ng-template ngbSlide>
      <img src="../../../../assets/images/training03.JPG">
    
    </ng-template>
    <ng-template ngbSlide>
      <img src="../../../../assets/images/training02.JPG" >
     
    </ng-template>
    <ng-template ngbSlide>
      <img src="../../../../assets/images/training00.JPG" >
    
    </ng-template>
    <ng-template ngbSlide>
      <img src="../../../../assets/images/training01.JPG" alt="Random fourth slide">

    </ng-template>
  </ngb-carousel> -->
   
   
    