@import '../../../../scss/common.scss';
.row{
  margin-left: 0;
  margin-right: 0;
}


  .title{
    text-align: center;
    }

    // .form-header{
    //     background-color: #ebf0ff;
    //     text-align: center;
    //     color: #424242;
    //     padding: 5px 3%;
    //     font-size: 20px;
    //     text-decoration: none solid rgb(66, 66, 66);
    //     height:40px;
    //   }

    .tab-btn{
        width: 150px;
        height: 40px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 1px;
        border-bottom-left-radius: 1px;
        background-color: #cccccc;
        font-size: 16px;
        color: #424242;
        font-weight: 600;
        text-decoration: none solid rgb(66, 66, 66);
        text-align: center;
       
    }
    .tab-btn.active {
        background: #891199;
        color: #ffffff;
    }
   .nav-tabs{
       border-bottom: 5px solid #891199;
       margin-top: 20px;
       margin-bottom: -15px;
   }
    .tab-data{
        border: 1px solid #e6e6e6;
        background-color: #fff;
        margin-top: 15px;
        
    }
    .tab-list{
        background-color: #ffffff;
        font-size: 16px;
        color: #424242;
        font-weight: 600;
        text-decoration: none solid rgb(66, 66, 66);
        padding:15px 20px;
    }
    .tab-list span {
        width: 80%;
        display: block;
        float: left;
    }

    .tab-list button {
        width: 20%;
        padding: 5px 0;
        border-radius: 5px;
        background-color: #891199;
        font-size: 16px;
        color: #ffffff;
        text-decoration: none solid rgb(255, 255, 255);
        text-align: center;
        }
        .bg-light{
            background:#e6e6e6;
        }