<ion-content scrollY="true">
<div class="row ">
  <div class="col-sm-12 form-header title">

      {{'HEADER.HISTORY' | translate}}

  </div>
</div>
<div class="col-sm-9 m-auto taimg">
  <div class="title-text">18th Oct 2019:<br/>
      S.H.O.R. Web & Android App Launched</div>
    <app-slider [slides]="slides"></app-slider>
    <!-- <br/><br/>
    <iframe [src]="safeSrc" width="560" height="315" class="histvid" frameborder="0" webkitallowfullscreen mozallowfullscreen
    allowfullscreen></iframe> -->

    <br/><br/>
    <div class="title-text">1st June 2019:<br/>
      MoU signed between District Administration & IT firm | App development to curb sexual harassment</div>
  <img src="../../../../assets/images/historyWA0013.jpg" alt="Random first slide">
<br><br>
<!-- <div class="historytitle">MoU signed between District administration & IT firm | App development to curb sexual harassment</div>
<br> -->
  <iframe [src]="safeSrc" width="560" height="315" class="histvid" frameborder="0" webkitallowfullscreen mozallowfullscreen
      allowfullscreen></iframe>
      <div class="col-md-12  text-center">
         <button type="button" (click)="downloadFile('mou')" class="btn-link text-center">Download MOU</button></div>
      <br><br><br>
      <div class="historytitle">Press Release:</div>
      <ul>
      <li>  <a href="http://timesofindia.indiatimes.com/articleshow/69604991.cms?utm_medium=referral&utm_campaign=iOSapp&utm_source=twitter.com&utm_source=contentofinterest&utm_medium=text&utm_campaign=cppst" target="_blank">Noida to get app to fight sexual abuse at workplace - <i>"Times Of India"</i></a></li> 
      <li>  <a href="https://www.amarujala.com/delhi-ncr/working-women-will-able-to-complain-about-exploitation-via-app?src=top-lead" target="_blank">Working women will be able to complain about exploitation via app - <i>"Amar Ujala"</i></a></li> 
      <li>  <a href="https://www.hindustantimes.com/noida/sexual-harassment-victims-will-soon-be-able-to-file-complaints-online-in-gautam-budh-nagar/story-nOuh4UPadVRpi60X9FRF0H.html" target="_blank">Sexual harassment victims will soon be able to file complaints online in Gautam Budh Nagar - <i>"Hindustan Times"</i></a></li> <br>  
    </ul>
      </div>
      </ion-content>