<div class="row background">
  <div class="col-sm-12 text-center form-header">
    {{'FORGOT_PASSWORD.TITLE' | translate}}
  </div>
  <div class="col-md-12 m-auto">
    <alert></alert>
  </div>

  <div class="col-sm-4"></div>
  <div class="col-sm-4 m-auto form">
    <form [formGroup]="resetPasswordForm">
      <div class="form-group">
        <label for="userName">{{'FORGOT_PASSWORD.USERNAME' | translate}} *</label>
        <input type="text" formControlName="userName" class="form-control" id="userName"
          placeholder="{{'FORGOT_PASSWORD.USERNAME_PLACEHOLDER' | translate}}"
          [ngClass]="{ 'is-invalid': formSubmitted && regf.userName.errors }">
        <div *ngIf="formSubmitted && regf.userName.errors" class="invalid-feedback">
          <div *ngIf="regf.userName.errors.required">
            {{'FORGOT_PASSWORD.USERNAME' | translate}}{{'FORGOT_PASSWORD.IS_REQUIRED' | translate}} </div>
        </div>
        <div class="text-right">
           <!-- {{otp}} &nbsp; -->
           &nbsp;
           <button  type="button" class="getOTPlink"
            (click)="getOTP()">{{'FORGOT_PASSWORD.GET_OTP' | translate}}</button>
        </div>
      </div>
      <div class="form-group">
        <label for="otp">{{'FORGOT_PASSWORD.OTP' | translate}} *</label>
        <input type="number" formControlName="otp" class="form-control" id="otp"
          placeholder="{{'FORGOT_PASSWORD.OTP_PLACEHOLDER' | translate}}"
          [ngClass]="{ 'is-invalid': formSubmitted && regf.otp.errors }">
        <div *ngIf="formSubmitted && regf.otp.errors" class="invalid-feedback">
          <div *ngIf="regf.otp.errors.required">
            {{'FORGOT_PASSWORD.OTP' | translate}}{{'FORGOT_PASSWORD.IS_REQUIRED' | translate}} </div>
        </div>
      </div>
      <div class="form-group">
          
          
        <label for="password">{{'FORGOT_PASSWORD.PASSWORD' | translate}} *  </label>
        <!-- <img src="./../../../../../assets/icons/InfoIcon.svg" tooltipClass="password-tooltip" ngbTooltip="{{'FORGOT_PASSWORD.PASSWORD_POLICY' | translate}}"> -->
        <button class="getOTPlink" tooltipClass="password-tooltip" ngbTooltip="{{'FORGOT_PASSWORD.PASSWORD_POLICY' | translate}}">
            {{'COMMON.NEED_HELP_TEXT' | translate}}
        </button>
        <show-hide-password size="sm" btnStyle="none" [btnOutline]="false">
          <input type="password" formControlName="password" class="form-control" id="password"
            placeholder="{{'FORGOT_PASSWORD.PASSWORD_PLACEHOLDER' | translate}}"
            [ngClass]="{ 'is-invalid': formSubmitted && regf.password.errors }">


        </show-hide-password>
        <div *ngIf="formSubmitted && regf.password.errors" class="text-danger small">
          <div *ngIf="regf.password.errors.required">
            {{'FORGOT_PASSWORD.PASSWORD' | translate}}{{'FORGOT_PASSWORD.IS_REQUIRED' | translate}} </div>
          <div *ngIf="regf.password.errors.pattern">
            {{'FORGOT_PASSWORD.PASSWORD_POLICY' | translate}}</div>
        </div>

        <!-- <div *ngIf="formSubmitted && regf.password.errors" class="invalid-feedback">rrrrrr -->



      </div>
      <div class="form-group">
        <label for="cpassword">{{'FORGOT_PASSWORD.CONFIRM_PASSWORD' | translate}} *</label>
        <show-hide-password size="sm" btnStyle="none" [btnOutline]="false">
          <input type="password" formControlName="cpassword" class="form-control" id="cpassword"
            placeholder="{{'FORGOT_PASSWORD.CONFIRM_PASSWORD_PLACEHOLDER' | translate}}"
            [ngClass]="{ 'is-invalid': formSubmitted && regf.cpassword.errors }">

        </show-hide-password>
        <div *ngIf="formSubmitted && regf.cpassword.errors" class="text-danger small">
          <div *ngIf="regf.cpassword.errors.required">
            {{'FORGOT_PASSWORD.CONFIRM_PASSWORD' | translate}}{{'FORGOT_PASSWORD.IS_REQUIRED' | translate}}</div>
        </div>

      </div>
      <div class="submit">

        <button type="submit" class="btn btn-primary round"
          (click)="verifyEmailOTP()">{{'FORGOT_PASSWORD.SUBMIT' | translate}}</button>
      </div>
    </form>
  </div>
  <div class="col-sm-4">
      
          <div class=" mandatory text-right">
              * {{'COMMON.MANDATORY' | translate}} 
            </div>
      
  </div>
</div>
