@import '../../../../scss/common.scss';
.row{
  margin-left: 0;
  margin-right: 0;
}
.main-content {
  margin-bottom: 25px;
}
// .form-header{
//     background-color: #ebf0ff;
//     text-align: left;
//     color: #424242;
//     padding: 5px 3%;
//     font-size: 20px;
//     text-decoration: none solid rgb(66, 66, 66);
//     height:40px;
//   }
  .title{
    text-align: center;
    }
    .form {
      padding: $gap;
      .submit {
        margin-top: 5%;
      }
      .form-control{
        font-size: 12px;
      }
      label{
          height: 17px;
          font-size: 12px;
          color: #424242;
          text-decoration: none solid rgb(66, 66, 66);
          margin-bottom: 0px;
      }
      // .getOTPlink{
      //   display: contents;
      //   text-decoration: underline;
      //   color: blue;
      //   text-align: right;
      // }
      .btn{
        border-radius: 5px;
        background-color: #891199;
        background-size: cover;
        font-size: 16px;
        color: #ffffff;
        text-decoration: none solid rgb(255, 255, 255);
        text-align: center;
        min-width:210px;
      }
    }
    input#my-date-picker {
      background: #fff;
  }