@import '../../scss/common.scss';

.row{
    margin-left: 0;
    margin-right: 0;
  }
  .main-content {
    margin-bottom: 25px;
  }
.form-header {
    background-color: #ebf0ff;
    text-align: center;
    color: #424242;
    padding: 5px 3%;
    font-size: 20px;
    -webkit-text-decoration: none solid #424242;
    text-decoration: none solid #424242;
}
.helpoTitle {
    font-weight: 600;
      font-size: 11px;
      font-style: italic;
      text-align: center;
      color: #424242;
      margin-top: 5px;
  }
  .helpoBody {
    font-size: 12px;
    text-align: justify;
    //padding: 5% 8% 1% 0%;
  }
  .helpoText {
    background: #e6e6e6;
    padding: 4%;
    margin-top: 4%;
      // position: absolute;
      // left: 5%;
      // top: 31%;
  }
  .helpoText ul{
    padding:5px!important;
  }
  .closebtn {
    float: right;
    padding: 3%;
  }
  a.btn-text {
    font-size: 12px;
    font-weight: 600;
    float: right;
  }
  a:hover {
    color: #308bf2;
  }
  a{
    color: #308bf2;
    
  }
.title{
    text-align: center;
    }
    .form {
      padding: $gap;
      .submit {
        margin-top: 5%;
      }
      .form-control{
        font-size: 15px;
      }
      label{
          height: 17px;
          font-size: 12px;
          color: #424242;
          text-decoration: none solid rgb(66, 66, 66);
          margin-bottom: 0px;
          font-weight: 500 !important;
      }
      // .getOTPlink{
      //   display: contents;
      //   text-decoration: underline;
      //   color: blue;
      //   text-align: right;
      // }
      .btn{
        border-radius: 5px;
        background-color: #891199;
        background-size: cover;
        font-size: 16px;
        color: #ffffff;
        text-decoration: none solid rgb(255, 255, 255);
        text-align: center;
        min-width:210px;
        border: 0px;
      }
      


      .submit{
          text-align: center;
      }
    }
    
    .text-box{
      min-height: 42px;
      padding: 0px 10px;
      // border: 1px solid #999999;
      border-radius: 0px;
      background-color: #ffffff;
      font-size: 16px;
      color: #424242;
      text-decoration: none solid rgb(66, 66, 66);
    }