<ion-content scrollY="true">
  <div class="row ">
    <div class="col-sm-12 form-header title">
  
        {{'FAQ_QUESTION.FAQ' | translate}}
  
    </div>
  </div>
<div class="faqr">
  <div class="container">
    <div class="aaa">
      <accordion>
        <accordion-group class="headerfaq">
          <button class="btn btn-link btn-block clearfix" accordion-heading>
            <div class="pull-left float-left aa">{{'FAQ_QUESTION.FAQ_1' | translate}}</div>
            <span class="badge badge-secondary float-right pull-right">
              <fa-icon [icon]="faCoffee"></fa-icon>
            </span>
          </button>
          <div class="title">{{'FAQ_ANSWER.FAQ_A1' | translate}}</div>
          <ul>
            <li> {{'FAQ_ANSWER.FAQ_A1LI1' | translate}}</li>
            <li> {{'FAQ_ANSWER.FAQ_A1LI2' | translate}}</li>
            <li> {{'FAQ_ANSWER.FAQ_A1LI3' | translate}}</li>
            <li>{{'FAQ_ANSWER.FAQ_A1LI4' | translate}}</li>
            <li> {{'FAQ_ANSWER.FAQ_A1LI5' | translate}}</li>
          </ul>
        </accordion-group>
        <accordion-group>
          <button class="btn btn-link btn-block clearfix" accordion-heading>

            <div class="pull-left float-left">{{'FAQ_QUESTION.FAQ_2' | translate}}</div>
            <span class="badge badge-secondary float-right pull-right">
              <fa-icon [icon]="faCoffee"></fa-icon>
            </span>
          </button>
          <p>{{'FAQ_ANSWER.FAQ_A2p1' | translate}}</p>
          <p>{{'FAQ_ANSWER.FAQ_A2p2' | translate}}</p>
          <p>{{'FAQ_ANSWER.FAQ_A2p3' | translate}}</p>
        </accordion-group>
        <accordion-group>
          <button class="btn btn-link btn-block clearfix" accordion-heading>

            <div class="pull-left float-left">{{'FAQ_QUESTION.FAQ_3' | translate}}</div>
            <span class="badge badge-secondary float-right pull-right">
              <fa-icon [icon]="faCoffee"></fa-icon>
            </span>
          </button>
          <ul>
            <li>{{'FAQ_ANSWER.FAQ_A3li1' | translate}}</li>
            <li>{{'FAQ_ANSWER.FAQ_A3li2' | translate}}</li>
            <ul>
              <li>{{'FAQ_ANSWER.FAQ_A3li3' | translate}}</li>
              <li>{{'FAQ_ANSWER.FAQ_A3li4' | translate}}</li>
              <li>{{'FAQ_ANSWER.FAQ_A3li5' | translate}}</li>
              <li>{{'FAQ_ANSWER.FAQ_A3li6' | translate}}</li>
            </ul>
            <li>{{'FAQ_ANSWER.FAQ_A3li6.1' | translate}}</li>
            <ul>
              <li>{{'FAQ_ANSWER.FAQ_A3li7' | translate}}</li>
              <li>{{'FAQ_ANSWER.FAQ_A3li8' | translate}}</li>
              <li>{{'FAQ_ANSWER.FAQ_A3li9' | translate}}</li>
              <li>{{'FAQ_ANSWER.FAQ_A3li10' | translate}}</li>
              <li>{{'FAQ_ANSWER.FAQ_A3li11' | translate}}</li>
              <li>{{'FAQ_ANSWER.FAQ_A3li12' | translate}}</li>
            </ul>
            <li>{{'FAQ_ANSWER.FAQ_A3li13' | translate}}</li>
            <ul>
              <li>{{'FAQ_ANSWER.FAQ_A3li14' | translate}}</li>
            </ul>
            <li>{{'FAQ_ANSWER.FAQ_A3li15' | translate}}</li>
          </ul>
        </accordion-group>

        <accordion-group>
          <button class="btn btn-link btn-block clearfix" accordion-heading>

            <div class="pull-left float-left">{{'FAQ_QUESTION.FAQ_4' | translate}}</div>
            <span class="badge badge-secondary float-right pull-right">
              <fa-icon [icon]="faCoffee"></fa-icon>
            </span>
          </button>
          <p>{{'FAQ_ANSWER.FAQ_A4p' | translate}}</p>
          <ul>
            <li>{{'FAQ_ANSWER.FAQ_A4li1' | translate}}</li>
            <li>{{'FAQ_ANSWER.FAQ_A4li2' | translate}}</li>
            <!-- <li>{{'FAQ_ANSWER.FAQ_A4li3' | translate}}</li> -->
            <li>{{'FAQ_ANSWER.FAQ_A4li4' | translate}}</li>
            <li>{{'FAQ_ANSWER.FAQ_A4li5' | translate}}</li>
          </ul>
        </accordion-group>

        <accordion-group>
          <button class="btn btn-link btn-block clearfix" accordion-heading>

            <div class="pull-left float-left">{{'FAQ_QUESTION.FAQ_5' | translate}}</div>
            <span class="badge badge-secondary float-right pull-right">
              <fa-icon [icon]="faCoffee"></fa-icon>
            </span>
          </button>
          {{'FAQ_ANSWER.FAQ_A5p1' | translate}}
          <ul>
            <li>{{'FAQ_ANSWER.FAQ_A5li1' | translate}}</li>
            <li>{{'FAQ_ANSWER.FAQ_A5li2' | translate}}</li>
          </ul>
        </accordion-group>

        <accordion-group>
          <button class="btn btn-link btn-block clearfix" accordion-heading>

            <div class="pull-left float-left">{{'FAQ_QUESTION.FAQ_6' | translate}}</div>
            <span class="badge badge-secondary float-right pull-right">
              <fa-icon [icon]="faCoffee"></fa-icon>
            </span>
          </button>
          <p class="title">{{'FAQ_ANSWER.FAQ_A6p1' | translate}}</p>
          <p>{{'FAQ_ANSWER.FAQ_A6p2' | translate}}</p>
          <ul>
            <li>{{'FAQ_ANSWER.FAQ_A6li1' | translate}}</li>
            <li>{{'FAQ_ANSWER.FAQ_A6li2' | translate}}</li>
          </ul>
        </accordion-group>

        <accordion-group>
          <button class="btn btn-link btn-block clearfix" accordion-heading>

            <div class="pull-left float-left">{{'FAQ_QUESTION.FAQ_7' | translate}}</div>
            <span class="badge badge-secondary float-right pull-right">
              <fa-icon [icon]="faCoffee"></fa-icon>
            </span>
          </button>
          <p>{{'FAQ_ANSWER.FAQ_A7' | translate}}</p>
        </accordion-group>

        <accordion-group>
          <button class="btn btn-link btn-block clearfix" accordion-heading>

            <div class="pull-left float-left">{{'FAQ_QUESTION.FAQ_8' | translate}}</div>
            <span class="badge badge-secondary float-right pull-right">
              <fa-icon [icon]="faCoffee"></fa-icon>
            </span>
          </button>
          <p>{{'FAQ_ANSWER.FAQ_A8' | translate}}</p>
        </accordion-group>

        <accordion-group>
          <button class="btn btn-link btn-block clearfix" accordion-heading>

            <div class="pull-left float-left">{{'FAQ_QUESTION.FAQ_9' | translate}}
            </div>
            <span class="badge badge-secondary float-right pull-right">
              <fa-icon [icon]="faCoffee"></fa-icon>
            </span>
          </button>
          {{'FAQ_ANSWER.FAQ_A9p' | translate}}
          <ul>
            <li>{{'FAQ_ANSWER.FAQ_A9li1' | translate}}</li>
            <li>{{'FAQ_ANSWER.FAQ_A9li2' | translate}}</li>
            <li>{{'FAQ_ANSWER.FAQ_A9li3' | translate}}</li>
            <li>{{'FAQ_ANSWER.FAQ_A9li4' | translate}}</li>
            <li>{{'FAQ_ANSWER.FAQ_A9li5' | translate}}</li>

          </ul>
        </accordion-group>

        <accordion-group>
          <button class="btn btn-link btn-block clearfix" accordion-heading>

            <div class="pull-left float-left">{{'FAQ_QUESTION.FAQ_10' | translate}}</div>
            <span class="badge badge-secondary float-right pull-right">
              <fa-icon [icon]="faCoffee"></fa-icon>
            </span>
          </button>
          <p>{{'FAQ_ANSWER.FAQ_A10p1' | translate}}</p>
          <p>{{'FAQ_ANSWER.FAQ_A10p2' | translate}}</p>
           <p>{{'FAQ_ANSWER.FAQ_A10p3' | translate}}</p>
          <p>{{'FAQ_ANSWER.FAQ_A10p4' | translate}}</p>
          </accordion-group>

        <accordion-group>
          <button class="btn btn-link btn-block clearfix" accordion-heading>

            <div class="pull-left float-left">{{'FAQ_QUESTION.FAQ_11' | translate}}</div>
            <span class="badge badge-secondary float-right pull-right">
              <fa-icon [icon]="faCoffee"></fa-icon>
            </span>
          </button>
          <p>{{'FAQ_ANSWER.FAQ_A11p1' | translate}}</p>
          <ul>
            <li>{{'FAQ_ANSWER.FAQ_A11li1' | translate}}</li>
            <li>{{'FAQ_ANSWER.FAQ_A11li2' | translate}}</li>
            <li>{{'FAQ_ANSWER.FAQ_A11li3' | translate}}</li>
          </ul>
          <p>{{'FAQ_ANSWER.FAQ_A11p2' | translate}}</p>
        </accordion-group>


        <accordion-group>
          <button class="btn btn-link btn-block clearfix" accordion-heading>

            <div class="pull-left float-left">{{'FAQ_QUESTION.FAQ_12' | translate}}</div>
            <span class="badge badge-secondary float-right pull-right">
              <fa-icon [icon]="faCoffee"></fa-icon>
            </span>
          </button>
          <p>{{'FAQ_ANSWER.FAQ_A12p1' | translate}}</p>
          <ul>
            <li>{{'FAQ_ANSWER.FAQ_A12li1' | translate}}</li>
            <li>{{'FAQ_ANSWER.FAQ_A12li2' | translate}}</li>
            <li>{{'FAQ_ANSWER.FAQ_A12li3' | translate}}</li>
            <ul>
              <li>{{'FAQ_ANSWER.FAQ_A12li4' | translate}}</li>
              <li>{{'FAQ_ANSWER.FAQ_A12li5' | translate}}</li>
            </ul>
            <li>{{'FAQ_ANSWER.FAQ_A12li6' | translate}}</li>
          </ul>
        </accordion-group>

        <accordion-group>
          <button class="btn btn-link btn-block clearfix" accordion-heading>

            <div class="pull-left float-left">{{'FAQ_QUESTION.FAQ_13' | translate}}</div>
            <span class="badge badge-secondary float-right pull-right">
              <fa-icon [icon]="faCoffee"></fa-icon>
            </span>
          </button>
          <p>{{'FAQ_ANSWER.FAQ_A13p' | translate}}</p>
        </accordion-group>
        <accordion-group>
          <button class="btn btn-link btn-block clearfix" accordion-heading>

            <div class="pull-left float-left">{{'FAQ_QUESTION.FAQ_14' | translate}}</div>
            <span class="badge badge-secondary float-right pull-right">
              <fa-icon [icon]="faCoffee"></fa-icon>
            </span>
          </button>
          <p>{{'FAQ_ANSWER.FAQ_A14p' | translate}}</p>
          <ul>
            <li>{{'FAQ_ANSWER.FAQ_A14li1' | translate}}</li>
            <li>{{'FAQ_ANSWER.FAQ_A14li2' | translate}}
            </li>
            <li>{{'FAQ_ANSWER.FAQ_A14li3' | translate}}</li>
            <li>{{'FAQ_ANSWER.FAQ_A14li4' | translate}}</li>
          </ul>
        </accordion-group>

        <accordion-group>
          <button class="btn btn-link btn-block clearfix" accordion-heading>

            <div class="pull-left float-left">{{'FAQ_QUESTION.FAQ_15' | translate}}</div>
            <span class="badge badge-secondary float-right pull-right">
              <fa-icon [icon]="faCoffee"></fa-icon>
            </span>
          </button>
          <p>{{'FAQ_ANSWER.FAQ_A15p' | translate}}</p>
        </accordion-group>

        <accordion-group>
          <button class="btn btn-link btn-block clearfix" accordion-heading>

            <div class="pull-left float-left">{{'FAQ_QUESTION.FAQ_16' | translate}}</div>
            <span class="badge badge-secondary float-right pull-right">
              <fa-icon [icon]="faCoffee"></fa-icon>
            </span>
          </button>
          <p>{{'FAQ_ANSWER.FAQ_A16p' | translate}}.</p>
        </accordion-group>

        <accordion-group>
          <button class="btn btn-link btn-block clearfix" accordion-heading>

            <div class="pull-left float-left">{{'FAQ_QUESTION.FAQ_17' | translate}}</div>
            <span class="badge badge-secondary float-right pull-right">
              <fa-icon [icon]="faCoffee"></fa-icon>
            </span>
          </button>
          <p> {{'FAQ_ANSWER.FAQ_A17p' | translate}}</p>
        </accordion-group>

        <accordion-group>
          <button class="btn btn-link btn-block clearfix" accordion-heading>

            <div class="pull-left float-left">{{'FAQ_QUESTION.FAQ_18' | translate}}</div>
            <span class="badge badge-secondary float-right pull-right">
              <fa-icon [icon]="faCoffee"></fa-icon>
            </span>
          </button>
          <p>{{'FAQ_ANSWER.FAQ_A18p1' | translate}}</p>
          <p>{{'FAQ_ANSWER.FAQ_A18p2' | translate}}</p>
        </accordion-group>

        <accordion-group>
          <button class="btn btn-link btn-block clearfix" accordion-heading>

            <div class="pull-left float-left">{{'FAQ_QUESTION.FAQ_19' | translate}}</div>
            <span class="badge badge-secondary float-right pull-right">
              <fa-icon [icon]="faCoffee"></fa-icon>
            </span>
          </button>
          <p>{{'FAQ_ANSWER.FAQ_A19p1' | translate}}</p>
          <p>{{'FAQ_ANSWER.FAQ_A19p2' | translate}}</p>
        </accordion-group>

        <accordion-group>
          <button class="btn btn-link btn-block clearfix" accordion-heading>

            <div class="pull-left float-left">{{'FAQ_QUESTION.FAQ_20' | translate}}</div>
            <span class="badge badge-secondary float-right pull-right">
              <fa-icon [icon]="faCoffee"></fa-icon>
            </span>
          </button>
          <p>{{'FAQ_ANSWER.FAQ_A20p1' | translate}}</p>
          <ul>
            <li>{{'FAQ_ANSWER.FAQ_A20li1' | translate}}</li>
            <li>{{'FAQ_ANSWER.FAQ_A20li2' | translate}}</li>
            <li>{{'FAQ_ANSWER.FAQ_A20li3' | translate}}
            </li>
            <li>{{'FAQ_ANSWER.FAQ_A20li4' | translate}}</li>
          </ul>
        </accordion-group>

        <accordion-group>
          <button class="btn btn-link btn-block clearfix" accordion-heading>

            <div class="pull-left float-left">{{'FAQ_QUESTION.FAQ_21' | translate}}</div>
            <span class="badge badge-secondary float-right pull-right">
              <fa-icon [icon]="faCoffee"></fa-icon>
            </span>
          </button>
          <p>{{'FAQ_ANSWER.FAQ_A21p' | translate}}</p>
          <ul>
            <li>{{'FAQ_ANSWER.FAQ_A21li1' | translate}}</li>
            <li>{{'FAQ_ANSWER.FAQ_A21li2' | translate}}</li>
            <li>{{'FAQ_ANSWER.FAQ_A21li3' | translate}}</li>
          </ul>
        </accordion-group>

        <accordion-group>
          <button class="btn btn-link btn-block clearfix" accordion-heading>

            <div class="pull-left float-left">{{'FAQ_QUESTION.FAQ_22' | translate}}</div>
            <span class="badge badge-secondary float-right pull-right">
              <fa-icon [icon]="faCoffee"></fa-icon>
            </span>
          </button>
          <p>{{'FAQ_ANSWER.FAQ_A22' | translate}}</p>
        </accordion-group>

        <accordion-group>
          <button class="btn btn-link btn-block clearfix" accordion-heading>

            <div class="pull-left float-left">{{'FAQ_QUESTION.FAQ_23' | translate}}</div>
            <span class="badge badge-secondary float-right pull-right">
              <fa-icon [icon]="faCoffee"></fa-icon>
            </span>
          </button>
          <p>{{'FAQ_ANSWER.FAQ_A23p1' | translate}}</p>
          {{'FAQ_ANSWER.FAQ_A23p2' | translate}}
          <ul>
            <li>{{'FAQ_ANSWER.FAQ_A23li1' | translate}}</li>
            <li>{{'FAQ_ANSWER.FAQ_A23li2' | translate}}</li>
            <li>{{'FAQ_ANSWER.FAQ_A23li3' | translate}}</li>
            <li>{{'FAQ_ANSWER.FAQ_A23li4' | translate}}</li>
            <li>{{'FAQ_ANSWER.FAQ_A23li5' | translate}}</li>
          </ul>
          {{'FAQ_ANSWER.FAQ_A23p3' | translate}}
          <ul>
            <li>{{'FAQ_ANSWER.FAQ_A23li6' | translate}}</li>
            <li>{{'FAQ_ANSWER.FAQ_A23li7' | translate}}</li>
            <li>{{'FAQ_ANSWER.FAQ_A23li8' | translate}}</li>
            <li>{{'FAQ_ANSWER.FAQ_A23li9' | translate}}</li>
          </ul>
          {{'FAQ_ANSWER.FAQ_A23p4' | translate}}
        </accordion-group>

        <accordion-group>
          <button class="btn btn-link btn-block clearfix" accordion-heading>

            <div class="pull-left float-left">{{'FAQ_QUESTION.FAQ_24' | translate}}</div>
            <span class="badge badge-secondary float-right pull-right">
              <fa-icon [icon]="faCoffee"></fa-icon>
            </span>
          </button>
          {{'FAQ_ANSWER.FAQ_A24' | translate}}
          <table class="table table-bordered">
            <thead>
              <tr>
                <th> {{'FAQ_ANSWER.FAQ_A24th1' | translate}}</th>
                <th>{{'FAQ_ANSWER.FAQ_A24th2' | translate}}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{'FAQ_ANSWER.FAQ_A24td1' | translate}}</td>
                <td>{{'FAQ_ANSWER.FAQ_A24td2' | translate}}</td>

              </tr>
              <tr>
                <td>{{'FAQ_ANSWER.FAQ_A24td3' | translate}}</td>
                <td>{{'FAQ_ANSWER.FAQ_A24td4' | translate}}</td>

              </tr>
              <tr>
                <td>{{'FAQ_ANSWER.FAQ_A24td5' | translate}}</td>
                <td>{{'FAQ_ANSWER.FAQ_A24td6' | translate}}</td>

              </tr>
              <tr>
                <td>{{'FAQ_ANSWER.FAQ_A24td7' | translate}}</td>
                <td>{{'FAQ_ANSWER.FAQ_A24td8' | translate}}</td>

              </tr>
              <tr>
                <td>{{'FAQ_ANSWER.FAQ_A24td9' | translate}}</td>
                <td>{{'FAQ_ANSWER.FAQ_A24td10' | translate}}</td>

              </tr>

          </table>
        </accordion-group>

        <accordion-group>
          <button class="btn btn-link btn-block clearfix" accordion-heading>

            <div class="pull-left float-left">{{'FAQ_QUESTION.FAQ_25' | translate}}</div>
            <span class="badge badge-secondary float-right pull-right">
              <fa-icon [icon]="faCoffee"></fa-icon>
            </span>
          </button>
          {{'FAQ_ANSWER.FAQ_A25' | translate}}
          <ul>
            <li> {{'FAQ_ANSWER.FAQ_A25li1' | translate}}</li>
            <li> {{'FAQ_ANSWER.FAQ_A25li2' | translate}}</li>
          </ul>
          <p class="title"> {{'FAQ_ANSWER.FAQ_A25p1' | translate}}</p>
          <p> {{'FAQ_ANSWER.FAQ_A25p2' | translate}}</p>
            
        </accordion-group>

        <accordion-group>
          <button class="btn btn-link btn-block clearfix" accordion-heading>

            <div class="pull-left float-left">{{'FAQ_QUESTION.FAQ_26' | translate}}</div>
            <span class="badge badge-secondary float-right pull-right">
              <fa-icon [icon]="faCoffee"></fa-icon>
            </span>
          </button>
          <ul>
            <li> {{'FAQ_ANSWER.FAQ_A26li1' | translate}}</li>
            <li>{{'FAQ_ANSWER.FAQ_A26li2' | translate}}</li>
            <li>{{'FAQ_ANSWER.FAQ_A26li3' | translate}}</li>
            <li>{{'FAQ_ANSWER.FAQ_A26li4' | translate}}</li>
            <li>{{'FAQ_ANSWER.FAQ_A26li5' | translate}}</li>
            <li>{{'FAQ_ANSWER.FAQ_A26li6' | translate}}
            </li>
            <li>{{'FAQ_ANSWER.FAQ_A26li7' | translate}}</li>
          </ul>
          
        </accordion-group>
      </accordion>
    </div>
  </div>
</div>
</ion-content>