<ion-content scrollY="true">
  <div class="row ">
  <div class="col-sm-12 form-header title">

      {{'DMDESK.DMDESK_CAPTION' | translate}}
  </div>
</div>
<div class="col-sm-8 m-auto m-bottom">
  <div class="note">
    <div class="note-toolbar"></div>
      <div class="note-content">
        <strong class="note-title">{{'DMDESK.DMDESK_TITLE' | translate}}</strong>


        <p class="notep">{{'DMDESK.DMDESK_P1' | translate}}</p>

        <p>{{'DMDESK.DMDESK_P2' | translate}}</p>

         <p>{{'DMDESK.DMDESK_P3' | translate}}</p>

          <p>{{'DMDESK.DMDESK_P4' | translate}}</p>

          <p>{{'DMDESK.DMDESK_P5' | translate}}</p>

          <p>{{'DMDESK.DMDESK_P6' | translate}}</p>

         <p>{{'DMDESK.DMDESK_P7' | translate}}</p>

        <p>{{'DMDESK.DMDESK_P8' | translate}}</p>
        <br>
        <div class="col-md-12  text-center">
          <div class="tab-list">
            <a href="javascript:void();" (click)="downloadFile('dmscan');"><button><img
                  src='../../../assets/icons/Download.svg'> Download DM's Signed Message</button></a>
          </div></div>
      </div>
      
  </div>
 
</div>
</ion-content>